<div
  class="container mx-auto py-12 px-4 bg-black text-white font-bold rounded-sm"
>
  <h1 class="text-4xl font-bold text-center mb-8">Contáctanos</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h2 class="text-2xl font-semibold mb-4">Detalles de Contacto</h2>
      <p class="mb-4">
        <strong>Dirección:</strong> Av. Principal 123, Ciudad, País
      </p>
      <p class="mb-4"><strong>Teléfono:</strong> +123 456 789</p>
      <p class="mb-4"><strong>Correo Electrónico:</strong> 'contacto.com'</p>
    </div>
    <div>
      <img
        src="assets/img/mapa.jpg"
        alt="Mapa de Ubicación"
        class="w-full h-64 object-cover rounded-lg shadow-lg"
      />
    </div>
  </div>
</div>
